# django
Django==2.0

# general libs
pillow==4.3.0
bleach==2.1.1
html5lib==1.0b10 # To solve compatibility issue with bleach 2.1.1

#search
Whoosh==2.7.4
-e git+https://github.com/yaniv14/django-haystack.git@django2a1#egg=django-haystack
#django-haystack==2.6.1

# queue
redis
#hiredis
rq
django-rq

# dev stuff
django-extensions==1.9.8
django-nose==1.4.5
django-taggit==0.22.1 # Use this hack: https://github.com/collinanderson/django-taggit/commit/da1b1bfa56d5d733b92fee79902609d6a8a45dce
ipython
#--allow-external python-graph-core
#--allow-unverified python-graph-core
#python-graph-core==1.8.2
