{% load i18n voting_tags humanize %}
<div class="single-comment" data-id="{{ arg.id }}">
    <div class="name-date">
        {{ arg.created_by }} <span>{{ arg.created_at|naturaltime }}</span>
    </div>
    <p class="arg-comment">{{ arg.comment }}</p>
    <div class="arguments-opt">
        {% if arg.created_by == request.user %}
            <a class="edit-argument" data-valueurl="{{arg.get_data_url}}" data-url="{{arg.get_edit_url}}" data-toggle="modal" data-target="#editProposalCommentModal">
                <i class="fa fa-edit"></i> {% trans 'Edit' %}
            </a>
            <form class="delete-proposal-comment" method="post" action="{{arg.get_delete_url}}">
                <i class="fa fa-trash-o"></i> {% trans 'Delete' %}
            </form>
        {% endif %}
    </div>
</div>
