{% load i18n opencommunity %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors.as_text }}
    </div>
{% endif %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    {% if field|is_checkbox %}
        <div class="checkbox">
            <label>
                {{ field }}
                {{ field.label }}
            </label>
        {% if field.help_text %}
            <p class="help-block">
                {{ field.help_text|safe }}
            </p>
        {% endif %}
    {% else %}
        <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <p class="help-block">
                {{ field.help_text|safe }}
            </p>
        {% endif %}
    {% endif %}
{% if field.errors %}
    <div class="invalid-feedback">{{ field.errors.as_text }}</div>
{% endif %}
</div>
{% endfor %}
